<%= render "layouts/header" %>

<div class="reservation"> 
	<div class="container">
		<p>This app looks up your Southwest Airlines flight reservation and checks you in automatically at 24 hours before flight departure (36 hours for A-list members).<br /><nbsp;><br/>
		   Add a new flight reservation or look up an existing reservation:<br /><nbsp;><br/></p>
	
		<%= form_for(@reservation) do |f| %>
		
			<div class="fields">
				<%= f.label :rcrd_loc, '*Confirmation #' %>
				<%= f.text_field :rcrd_loc %>
			
				<%= f.label :first_name, '*First Name' %>
				<%= f.text_field :first_name %>
		
				<%= f.label :last_name, '*Last Name' %>
				<%= f.text_field :last_name %>
	
				<%= f.label :email, '*Email' %>
				<%= f.text_field :email %>
	
				<%= f.label :a_list, 'A-List?' %>
				<%= f.check_box :a_list %>
			</div>
			
			<div class="errors">
				<%= @reservation.errors.first.second if @reservation.errors.any? %>
			</div>
			
			<div class="actions">
				<%= f.submit 'Submit' %>
			</div>
	
		<% end %>
	</div>
</div>